.headerContent {
  background-color: var(--color-primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainPageImage {
  width: 100%;
  object-fit: cover;
  
}

.mainpageContent {
  padding-inline: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}