.desktopFooter {
  display: none;
  
}

.mobileFooter {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  text-align: center;
  box-shadow: 2px 2px 8px var(--shadow-color);
}

.address {
  display: flex;
  flex-direction: column;
}

.address__link {
  text-decoration: none;
  color: var(--color-text);
}