.mobileHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 50vh;
}

.headerTitle {
  max-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.4);
  padding-inline: 5px;
}

.address {
  text-align: center;
}

.desktopHeader {
  display: none;
}

.address_link {
  text-decoration: none;
  color: black;
}

.address_link:hover {
  color: blue;
}

.address_place {
}

.burger {
}
